<div id="grid"> </div>
<script>
    $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllCabinets", "Admin")",
                        update: {
                            url: "@Url.Action("EditCabinet", "Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create: {
                            url: "@Url.Action("AddCabinet", "Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        destroy: {
                            url: "@Url.Action("DeleteCabinet", "Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: {from: "id", type: "number", editable: false},
                                CabinetNumber: { from: "cabinetNumber", validation: { required: true } }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
        },
        toolbar: [
            { name: "create" }
        ],
                height: 550,
                editable: "popup",
                pageable: true,
                filterable: true,
                sortable: true,
                columns: [
                    {
                        field: "CabinetNumber",
                        title: "Номер кабинета"
                    },
                    {
                        command: "edit"
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
</script>