<div class="container">
<nav>
    <div class="nav nav-tabs mb-5 d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" asp-action="AdminPanel" aria-controls="nav-home" aria-selected="false">Админ панель</a>
        <a class="nav-item nav-link"  asp-action="AdminClass" asp-controller="Admin" aria-controls="nav-profile" aria-selected="false">Класс</a>
    </div>
</nav>
</div>