@model List<MorningSchool.ViewModels.ClassroomTeacherViewModel>

<div class="container">
@foreach (var teacher in @Model)
{
    <div class="row bg-secondary shadow p-3 mb-5 bg-white rounded m-2 d-flex justify-content-center">
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            <div class="mr-1 h2">@teacher.Surname @teacher.Name @teacher.Lastname</div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-baseline">
            Номер мобильного телефона : @teacher.TelephoneNumber
        </div>
    </div>
}
</div>