@model List<MorningSchool.ViewModels.Admin.ClassViewModel>
<div class="container">
<div class="content">
    <div class="row justify-content-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-teachers-tab" data-toggle="tab" href="#nav-teachers" role="tab" aria-controls="nav-home" aria-selected="true">Класс</a>
            </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mt-5" id="nav-teachers" role="tabpanel" aria-labelledby="nav-teachers-tab">
            <div class="row d-flex justify-content-center">
                @foreach (var cClass in @Model)
                {
                    <div class="col-lg-4 m-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@cClass.ClassName</h5>
                                <a asp-action="ClassSchedule" asp-controller="Schedule" asp-route-id="@cClass.Id" class="btn btn-primary">Расписание</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>