<div class="container">
<div id="example" class="mt-5">
    <div id="scheduler"></div>
</div>
</div>
<script id="event-template" type="text/x-kendo-template">
    <div class="movie-template">
      <p>#: title #</p>
      </div>
    </script>
<script>
$(function() {
    $("#scheduler").kendoScheduler({
        footer: false,
        date: new Date("@DateTime.Now.ToString("yyyy-M-d")"),
        startTime: new Date("@DateTime.Now.ToString("yyyy-M-d 08:00")"),
        allDaySlot: false,
        views: [
            {
                type: "day",
                selected: true,
            },
            {
                type: "week"
            }
        ],
        
        editable: false,
        eventTemplate: $("#event-template").html(),
        timezone: "Europe/Minsk",
        dataSource: {
            batch: false,
            transport: {
                read: {
                    url: "@Url.Action("GetAllSchedulesByClassId", "Schedule", new {id = ViewBag.Id})",
                    dataType: "json",
                    type: "GET"
                }
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {
                            from: "id",
                            type: "number"
                        },
                        title: {
                            from: "title",
                        },
                        start: {
                            type: "date",
                            from: "startDate"
                        },
                        end: {
                            type: "date",
                            from: "endDate"
                        },
                        recurrenceRule: {
                            from: "recurrenceRule"
                        },
                        classId: {
                            type: "number",
                            from: "classId",
                            defaultValue: @ViewBag.Id
                        }
                    }
                }
            }
        }
    });
});
</script>
<style>
    .k-icon.k-i-arrow-60-down{
        display: none;
        }
    .k-icon.k-i-arrow-60-up{
        display: none;
        }
    .k-current-time{
            display: none;
        }
</style>